<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/css/pico.min.css">
    <link rel="stylesheet" href="/css/extra.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">

    {{! opengraph tags for social media }}
    <meta property="og:locale" content="ro_RO" />
    <meta property="og:site_name" content="☭ evie" />
    {{! <meta property="og:image" content="https://example.com/image.jpg" /> }}
    <meta property="og:url" content="https://example.com/" /> {{! this is incorrect, it should be the absolute URL of the page }}
    <meta property="og:description" content="Content descripton" />

    {{^post}}
    {{! if we don't have a post, we assume we're in index (but we could be in a page or a tag ) }}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="☭ evie" />
    {{/post}}

    {{#post}}
    {{! if we're in a post, customize the opengraph tags to suit }}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{title}}" />
    <meta property="article:publisher" content="https://example.com/" />
    <meta property="article:published_time" content="{{isoPublishDate}}" />
    {{/post}}

    <title>☭ evie{{#post.title}} | {{.}}{{/post.title}}</title>
  </head>
  <body class="container">

    <nav>
      <ul>
        <li><strong>☭ evie</strong></li>
      </ul>
      <ul>
        <li><a href="/">acasă</a></li>
        <!-- <li><a href="#">blog</a></li> -->
        <!-- <li><a href="/wiki/cooperativa.html">wiki</a></li> -->
      </ul>
    </nav>
