{{>site/template/header.html}}

    <main>
      <article>
        <header>
          <hgroup>
            <div class="grid">
              <div>
              <h1>{{post.title}} {{#post.author}} -- {{.}} {{/post.author}}</h1>
              </div>
              <div class="right">
                <p>{{post.publish}}</p>
              </div>
          </hgroup>
        </header>
        {{{post.content}}}

        <hr />

        {{#post.renderChangelog}}
        <h4>Changelog</h4>
        <ul>
          {{#post.changelog}}
            <li>{{.}}</li>
          {{/post.changelog}}
        </ul>
        {{/post.renderChangelog}}
        <footer>{{post.footer}}</footer>
      </article>
    </main>

{{>site/template/footer.html}}
