{{>site/template/header.html}}

    <main>
      <article>
        <header>
          <hgroup>
            <div class="grid">
              <div>
              <h1>{{metadata.title}} {{#metadata.author}} -- {{.}} {{/metadata.author}}</h1>
              </div>
              <div class="right">
                <p>{{metadata.publish}}</p>
              </div>
          </hgroup>
        </header>
        {{metadata.relativePath}}
        {{foo}}
        {{bar}}

        {{{metadata.content}}}

        <hr />

        {{#metadata.renderChangelog}}
        <h4>Changelog</h4>
        <ul>
          {{#metadata.changelog}}
            <li>{{.}}</li>
          {{/metadata.changelog}}
        </ul>
        {{/metadata.renderChangelog}}
        <footer>{{metadata.footer}}</footer>
      </article>
    </main>

{{>site/template/footer.html}}
